* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

form {
    background: #f2f2f2;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(128, 0, 128, 0.5);
    max-width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    padding: 20px 0;
    font-size: 14px;
    color: #605c5c;
    text-align: center;
}

.inputBox {
    position: relative;
    margin-bottom: 25px;
    width: 100%;
}

.inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    outline: none;
}

.inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
    top: -20px;
    left: 0;
    color: #6e3c78;
    font-size: 12px;
}

input[type="button"] {
    background: #6e3c78;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}


input[type="button"]:hover {
    background: #7b1a8e;
}

#mode_icon {
    cursor: pointer;
    font-size: 15px;
}


h2.Cadastro i {
    margin-right: 15px;
}

@media only screen and (max-width: 400px) {

    h2 {
        font-size: 24px;
    }

    .inputBox label {
        font-size: 14px;
    }

    .inputBox input {
        font-size: 14px;
    }

    input[type="button"] {
        font-size: 14px;
    }
}